{% extends "base.html" %}

{% block title %}{{ game.title }}{% endblock %}

{% block content %}
    <h1>
        {{ game.sport }}
<!--        {{ game.date }}-->
    </h1>
<!--    <img src="{{ game.}}"-->
    {% with total_players=game.joined_players.count %}
        <div class="image-info">
            <div>
                <span class="count">
                    {{ total_players }} player{{ total_players|pluralize }}
                </span>
            </div>
            {{ game.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for player in game.joined_players.all %}
                <div>
                    <p>
                        {{ player.first_name }}
                    </p>
                </div>
            {% empty %}
                К этой игре пока никто не присоединился
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}